/* ********************************* header *************************** */

/*ici c'ets le responsive du header de la page d'accueil*/
@media only screen and (max-width: 1200px) {
    .wrap-navigation {
        display: none;
    }
}









/* ********************************* body *************************** */
/* ********************************* body Homepage ****************** */
@media only screen and (max-width: 768px) {
    .custo-card.card-atelier {
        margin-top: 50px;
    }
    
    .custo-card.card-atelier .card_img {
        margin-bottom: 25px;
    }
    
    .custo-card.card-atelier .container_btn_link {
        margin-top: 70px;
    }
}
@media only screen and (min-width: 768px) {
    .card-atelier.inverse{
        flex-direction: row-reverse;
    }
}

/*************************************** End **************************/








/* ********************************* footer *************************** */